@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --red: #de0d61;
    --green1: #0dde8a;
    --green2: #74f7c2;
}

.nav {
}
.navdiv > a > div{
    background-size:  contain;
    height: 100%;
}
.topdiv{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoimg{
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--red);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.logotext1, .logotext2, .logotext3{
    font-family: 'Fredoka One', cursive;
}
.logotext1{
    font-size: 2rem;
    color: var(--red);
}
.logotext2{
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    font-size: 3rem;
}
.logotext3{
    font-size: 1.5rem;
    color: var(--green1);
}
button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
.homebutton {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navdiv {
    display: flex;
    height: 10%;
}

.registerh2 {
    text-align: center;
}

.navdiv > a {
    flex: 25%;
}

.navdiv > a:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.sidebar, .loginorregister {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    display: block;
    box-shadow: 3px 0 2px 0 rgba(0,0,0,0.3);
    z-index: 1;
    transition: height 0.25s;
}
.navdiv > a > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navdiv > a > div > p{
    text-align: center;
    height: fit-content;
}
.logindiv{
    display: flex;
}
.avatarbutton{
    margin: 1rem;
    display: none;
}
.loginbutton, .registerbutton{
    display: none;
}

footer {
    text-align: center;
    padding: 2rem;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .logotext2, .logotext3{
        display: none;
    }
    .logindiv > button{
        padding: 7px 10px;
        font-size: 16px;
    }
    .avatarbutton{
        display: block;
    }
    .logindiv > button{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .logotext2, .logotext3{
        display: none;
    }
    .logindiv > button{
        padding: 7px 10px;
        font-size: 16px;
    }

}